@import "bootstrap/dist/css/bootstrap.min.css"
@import "includes/paragraphs"

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.long-term-ITM {
    color: blue;
}

.regular-ITM {
    color: black;
}

.urgent-ITM {
    color: red;
}

#item-INPUT {
    display: block;
}

#categorySelect {
    display: block;
    margin-bottom: 5px;
}

#item-SUBMIT {
    margin-bottom: 10px;
}
